.*
!.travis.yml
!.gitignore
!.env.example
!.bowerrc

public/*
!public/wp-content/

public/wp-content/*
!public/wp-content/plugins
!public/wp-content/themes

public/wp-content/plugins/*
!public/wp-content/plugins/compasshb-plugin/

public/wp-content/themes/*
!public/wp-content/themes/compasshb-theme/

public/wp-content/themes/compasshb-theme/sass/styleguide
public/wp-content/themes/compasshb-theme/sass/jquery

vendor
composer.lock