.*
!.travis.yml
!.gitignore
!.env.example
composer.lock
vendor
node_modules
public/wordpress/wp
public/wordpress/app/plugins
public/wordpress/app/uploads
public/wordpress/app/themes/compasshb-theme/style.css
