// Homepage video container

.drawer
{
	text-align: center;
	background-image: url(/images/hbwebsitetileGRAY.jpg);
	padding-top: 10px;
}

// Latest sermon on homepage
.latestsermon
{
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	border: 1px #555 solid;
	min-height: 375px;
	padding-top: 80px;
	width: 100%;
	background-size: cover;
}

.latestsermon p
{
	margin-top: 20px;
	color: #fff;
	text-transform: uppercase;
}

.latestsermon h1
{
	text-transform: uppercase;

}

.featuredblog
{
	display: block;
	text-transform: uppercase;
	color: #fff;
	border: 1px #555 solid;
	padding: 10px;
	width: 100%;
	height: 105px;
	background-size: cover;
}