// Fonts
$icon-font-path: '../../fonts/';
$fa-font-path: '../../fonts/';
@import 'font-awesome';
@import 'bootstrap';

@import 'medium-editor';
@import 'themes/default';

// Styles for /read and Scripture of the Day pages
// where the content is retrieved using the ESV API.
@import 'scriptureoftheday';

// Styles for the "dashboard" fixed header
@import 'dashboardnav';

// Styles for the homepage drawer
@import 'homepage';

// Styles for the transcripts
@import 'transcript';

// General styles
body, label, .checkbox label {
	font-weight: 300;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.clickable:hover
{
    text-decoration: none;
}

.large-icon
{
    font-size: 5rem;
}

.drawer a:hover, a:focus {
    color: #fff;
}

h2.tk-seravek-web a
{
	color: #000;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-image: url("/images/background.png");
  font-size: 1.2em;
}

// Make video containers responsive
  .videocontainer {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.videocontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.compasshb-editor.form-control {
  height: auto;
}
